/* font for site */
@font-face {
  src: url();
  font-family: "Lato", sans-serif;
}

/*NAVBAR*/

ul {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

/*Responsive nav*/
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b7b7b7;
font-family: "Lato", sans-serif;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: #616161;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #ededed;}

ul.topnav li.right {float: right;}

/*Small screens - mobile*/
@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}


/*HOME*/
body {
  background-color: #ededed;
  margin: 0;
  font-family: "Lato", sans-serif;
}


/*Image*/

.responsive {
  width: 100%;
  height: auto;
margin-top: 200px;
}

/*ABOUT*/

h3 {
    text-align: center;
}

/*PORTFOLIO*/

.grid-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;

}






