/* font for site */
@font-face {
  src: url();
  font-family: "Lato", sans-serif;
}

/*NAVBAR*/

ul {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

/*Responsive nav*/
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b7b7b7;
font-family: sans-serif;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: #616161;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #ededed;}

ul.topnav li.right {float: right;}


/*Small screens - mobile*/
@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}

/*HOME*/
body {
  background-color: #ededed;
  margin: 0;
  font-family: "Lato", sans-serif;
}

/* SVG?
svg{
    width: 800px;
    fill: none;
    stroke: pink;
    stroke-width: 4;
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    animation: draw 4s forwards;
}

@keyframes draw{
    to{
        stroke-dashoffset: 0;
    }
}

div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
*/

/*ABOUT*/

h3 {
    text-align: center;
}

/*PORTFOLIO*/

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 120px;
    margin: 80px;
}

.img1 {
    width: 250px;
    height: 250px;
}




